/************************
    DESKTOP STYLES
************************/

/************************
  NAVIGATION SECTION
************************/

/************************
    HEADER SECTION
************************/

.hero-section {
padding: 18em;
}

.hero-section::after {
  content: "";
  background-image: url("/images/macbookairdesktop.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .65;
}

.container {
  width: 80%;
  max-width: 1440px;
}

/************************
  PROJECT SECTION
************************/

.projects-grid {
  gap: 30px;
}


