/************************
    MOBILE STYLES
************************/

/************************
  NAVIGATION SECTION
************************/

.navigation-section {
  background-color: var(--primary-color);
  width: 100%; 
  display: flex;
  align-items: flex-start;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navigation-logo-flex {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin-left: .5em; 
  margin-top: 1em;
}

.navigation-name {
  margin-left: .2em;
  text-decoration: none;
  color: var(--secondary-color);
}

.navigation-logo {
  width: 7%;
}

.navigation-name:hover,
.navigation-name:focus {
  color: var(--third-color);
  cursor: pointer;
}

.close-navigation {
  display: none;
}

.dropbtn {
  border: 0;
  background: 0;
  color: var(--secondary-color);
  cursor: pointer;
  padding: .5em;
  margin-left: auto;
  font-size: 1.5em;
  align-self: center;
}

.dropbtn:hover,
.dropbtn:focus {
  color: var(--third-color);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--primary-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.nav-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.nav-item:hover {
  background-color: #ddd
}

.show {
  display: block;
}


/************************
    HEADER SECTION
************************/

.hero-section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 3em;
}

.hero-section::after {
  content: "";
  background-image: url("/images/macbookairmobile.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .65;
}

.hero-title,
.hero-subtitle {
  position: relative;
  font-weight: 700;
  color: var(--secondary-color);
  z-index: 7;
}

.hero-title {
  font-size: 3rem;
}

.hero-subtitle {
  font-size: 1.2rem;
}

/************************
    ABOUT SECTION
************************/

.about-section {
  margin-bottom: 3em;
}

.about-title {
  text-align: center;
}

.about-img {
  border-radius: 50%;
  width: 50%;
  height: 50%;
  display: block;
  margin: 0 auto;
}

.about-text {
  text-align: center;
  line-height: 1.6;
}

/************************
    TECH SECTION
************************/

.tech-title {
  text-align: center;
  margin-bottom: 1.5em;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  align-items: center;
  justify-items: center;
  margin-bottom: 3em;
}

.tech-img {
  width: 30%;
  filter: grayscale(100%);
}


.javascript,
.sass {
  margin-top: 1em;
}

.git {
  width: 100%;
}

.html:hover,
.css:hover,
.javascript:hover,
.sass:hover,
.bootstrap:hover,
.git:hover {
  filter: initial;
  transition: ease-in-out .3s;
}

/************************
    PROJECTS SECTION
************************/

.projects-title {
  text-align: center;
  margin-bottom: 1em;
}

.projects-text {
  text-align: center;
  line-height: 1.6;
  margin-bottom: 3em;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1 auto;
  grid-template-rows: repeat(8, auto);
}

.projects-img {
  position: relative;
  width: 100%;
}

.project-image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.projects-img:hover .project-image {
  opacity: 0.3;
}

.projects-img:hover .middle {
  opacity: 1;
}

.projects-go {
  background-color: var(--third-color);
  color: var(--secondary-color);
  text-decoration: none;
  padding: 1em 3em;
}

.projects-name {
  text-align: center;
  margin-bottom: 3em;
}

/************************
    CONTACT ME SECTION
************************/

.contact-me-section {
  text-align: center;
}

.contact-me-img {
  width: 20%;
  display: block;
  margin: 0 auto;
}

.contact-me-title {
  margin-top: 0;
  margin-bottom: 3em;
}

/************************
    SOCIAL SECTION
************************/

.social-section {
  background-color: var(--primary-color);
  width: 100%;
  padding-top: 1em;
  padding-bottom: 2em;
  text-align: center;
}

.social-flex {
  display: flex;
  list-style-type: none;
  font-size: 2em;
  justify-content: space-evenly;
  padding-left: 0;
}

.fab {
  color: var(--secondary-color);
}

.fab:hover,
.fab:focus {
  color: var(--third-color);
}






